* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

header {
    padding-top: 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1360px;
    margin: 0 auto;
}

.link-parent {
    display: flex;
    list-style: none;
    gap: 32px;
}


.link-parent li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
  
    color:#001931; 
}


.link-parent li a:hover {
    color: #000000;
}

.my-btn {
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #469165;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    border: none;
    cursor: pointer;
}

.logo img {
    display: block;
    height: 40px;
}